# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
db.sqlite3.bak
*.db

# Virtual environment
venv/
env/
ENV/
venv_new/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
*.env

# macOS
.DS_Store

# Secrets
SECRET_KEY